
:root {
  --primary-color: rgb(183, 179, 221);
  --primary-color-darker: rgb(9, 48, 56);
  --primary-color-button: #0d75ec;
  --secundary-color-button: rgb(26, 77, 187);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  box-shadow: 5px 5px 5px black;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.content {
  display:flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: blue;
}

.input-tarefa{
  width: 75%;
  height: 45px;
  padding: 12px;
  color: #111111;
  font-weight: 500;
  position: relative;
  border-radius: 5px;
  font-family: 'Poppins',sans-serif;
  font-size: 15px;
  border: 2px solid #d1d3d4;
}

.btn-tarefa{
    font-weight: 500;
    font-size: 15px;
    background-color: var(--primary-color-button);
    border: none;
    color: #ffffff;
    cursor: pointer;
    width: 18%;
    height: 45px;
    border-radius: 4px;
    font-family: 'Poppins',sans-serif;
    padding: 1px 0;
}

.tarefas {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 24px;
  list-style: none;
}

button:hover {
  background: var(--secundary-color-button);
}
